<!DOCTYPE html>
<html>
<head>
  <title>SpreePriceSlashes</title>
  <%= stylesheet_link_tag    "spree_content_blocks/application", :media => "all" %>
  <%= javascript_include_tag "spree_content_blocks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
